<div>
    <div class="row">
        <div class="col-md-2">
            <p>审核意见<span style="color: red">*</span>：</p>
        </div>
        <div class="col-md-9">
            <input type="radio" value="accept" id="accept" v-model="judgeApply">
            <label for="accept" style="margin-right: 20px">通过</label>
            <input type="radio" value="reject" id="reject" v-model="judgeApply">
            <label for="reject">驳回</label>
        </div>
    </div>
    <div class="row" v-if="judgeApply==='reject'">
        <div class="col-md-2">
            驳回原因<span style="color: red">*</span>：
        </div>
        <div class="col-md-9">
            <textarea class="form-control" name="reason" rows="4" v-model="rejectReason"></textarea>
        </div>
    </div>
    <button type="button" class="btn btn-primary" :disabled="!getIsCanSubmit">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>