<div id="playercontainer"></div>

<div id="player-control" @click="playerControl"></div>

<div v-if="onNoLiveStream" class="zhibo-loading">
    <div class="zhibo-loading-box">
        <img class="zhibo-loading-pic" src="../../static/image/network-error.png">
        <p>主播正在赶来路上...</p>
    </div>
</div>
<!--<aside class="anchor clearFix">-->
    <!--<img :src="image" alt="anchor-pic">-->
    <!--<div class="anchor-msg">-->
        <!--<a :href="blink"><button>饭圈</button></a>-->
        <!--<h1>{{anchorTitle}}</h1>-->
        <!--<p>{{anchorIntro}}</p>-->
    <!--</div>-->

<!--</aside>-->
<!--这是直播~-->
<!--<div class="msg-area">-->

<!--</div>-->

<!--<div class="send-msg">-->

<!--</div>-->

<!--<button @click="stopPlay">123</button>-->