html,
body,
div,
h1,
h2,
h3,
img,
p,
span {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    text-decoration: none;
}

html {
    font-size: 100px;
}

body {
    font-size: 0.25rem;
    font-family: "Microsoft Yahei";
    overflow: hidden;
}
.title{
    text-align: center;
    line-height: .2rem;
    height: 0.2rem
}
.img{
   width: 100%;
   height: 20%;
}
img {
    width: 100%;
    display: block;
    /*height: 100%;*/
}
.MyForm{
     margin: 0.1rem auto;
    /*padding:0.1rem 0.2rem 0.1rem 0.2rem;*/
    /*position: relative;*/
    width: 100%;
    height: 100%;

}
.student_name input {
    width: 77%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin: 0.2rem 10% 0.1rem 10%;
    border: none;
    border-radius: 0.1rem 0.1rem;
    /*position: absolute;*/
    /*top:0.5rem;*/
    /*left: 10%;*/
    /*z-index: 4;*/
    font-size: .15rem;
    padding-left: 3%;
}
.student_phone input {
    width: 77%;
    height: 0.3rem;
    line-height: 0.3rem;
    border: none;
    margin: 0 10% 0.1rem 10%;
    /*position: absolute;*/
    /*top:1.1rem;*/
    /*left: 10%;*/
    padding-left: 3%;
    font-size: .15rem;
    border-radius:0.1rem 0.1rem;
    /*z-index: 4;*/
    /*color: green;*/
}
.state5{
    border: 1px solid #2e2e2e;
}
.state6{
    border: 2px solid #0000ed;
}
.for_submit{
    width: 80%;
    height: 0.3rem;
    line-height: 0.3rem;
    border: none;
    margin: 0 0 0.1rem 10%;
    /*position: absolute;*/
    /*top:1.1rem;*/
    /*left: 10%;*/
    /**/
    cursor: pointer;
    font-size: .21rem;
    border-radius:0.1rem 0.1rem;
    background-color:#cc0000;
    color: floralwhite;
    /*position: absolute;*/
    /*cursor: pointer;*/
    /*left: 10%;*/
    /*top: 3.9rem;*/
    /*height: 6%;*/
    /*width: 80%;*/
    /*z-index: 5;*/
    /*font-size: 0.21rem;*/
    /*background-color:#cc0000;*/
    /*letter-spacing: 0.1rem;*/
    /*border-radius: 0.15rem 0.15rem;*/
    /*color: floralwhite;*/
}
.for_submit:visited{
    background-color: #ffff4f;
}
/*for_submit  {*/
    /*width: 80%;*/
    /*height: 10%;*/
    /*line-height: 0.3rem;*/
    /*display: block;*/
    /*!*margin: 0 10% 10% 0;*!*/
    /*position: absolute;*/
    /*top:4.1rem;*/
    /*left: 10%;*/
    /*font-size: 0.2rem;*/
    /*background-color: #cc0000;*/
    /*letter-spacing: 0.15rem;*/
    /*color: #ffff00;*/
    /*-webkit-transition-property: background-color;*/
    /*-webkit-transition-duration: .3s;*/
    /*-webkit-transition-timing-function: ease-in-out;*/
    /*cursor: pointer;*/
    /*margin-bottom: 0.2rem;*/
    /*box-shadow: 0rem 0rem 0rem 0.01rem #8d1b27 inset,*/
    /*0rem 0rem 0rem 0.02rem #dd4356 inset,*/
    /*0rem 0.04rem 0rem 0rem #8d1b27,*/
    /*0rem 0.05rem 0rem 0rem #65141c,*/
    /*0rem 0.08rem 0rem 0rem rgba(0,0,0,.15);*/
    /*border: none;*/
    /*border-radius: 0.1rem 0.1rem;*/
/*}*/
/*.for_submit input:active {*/
    /*margin-top: 0.15rem;*/
    /*margin-bottom: 0.18rem;*/
    /*box-shadow:0rem 0rem 0rem 0.01rem #8d1b27 inset,*/
    /*0rem 0rem 0rem 0.02rem #dd4356 inset,*/
    /*0rem 0.01rem 0rem 0rem #8d1b27,*/
    /*0rem 0.03rem 0rem 0rem rgba(0,0,0,.15);*/

/*}*/
.Form_D{
    background-color: #ffff00;
    width: 100%;
    height: 2rem;
}


.state1{
    color:#aaa;
}

.state2{

    color:#000;

}

.state3{

    color:red;

}

.state4{

    color:green;

}
._gap{
    width: 80%;
    height: 0.3rem;
    line-height: 0.3rem;
    border: 0.01rem solid red;
    margin-left: 10%;
    font-size: 0.15rem;
    color: #ff0000;
}
._gapNam,._gapTel{
    float: right;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
/*._gapNam{*/
    /*position: absolute;*/
    /*top:75%;*/
    /*left: 66%;*/
    /*font-size: 0.15rem;*/
    /*color:red;*/
    /*!*display: block;*!*/
/*}*/
/*._gapTel{*/
    /*position: absolute;*/
    /*top:78%;*/
    /*left: 48%;*/
    /*font-size: 0.15rem;*/
    /*color: red;*/
    /*!*display: block;*!*/
/*}*/

