<div class="toast-container" v-if="toastCtrl.isShow">
	<div class="toast-box" v-bind:class="{ 'loading-border': toastCtrl.status===0, 'success-border': toastCtrl.status===1, 'warning-border': toastCtrl.status===2 }">
		<span class="close-btn" v-if="toastCtrl.status!==0" @click="closeToast">×</span>
		<div class="toast-status">
			<div class="toast-loading" v-if="toastCtrl.status===0">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="toast-img" v-if="toastCtrl.status!==0">
				<img v-if="toastCtrl.status===1" src="./img/success.png" alt="success">
				<img v-if="toastCtrl.status===2" src="./img/warning.png" alt="fail">
			</div>
		</div>
		<div class="toast-message">
			<p>{{toastCtrl.msg}}</p>
			<!--[if lt IE 8]><span></span><![endif]-->
		</div>
	</div>
</div>