<div id="pagination-container">
    <div class="nuomipage-main">
        <button v-if="getPageModel.hasPre" @click="changePage(getPageModel.currentPage-1)">上一页</button>
        <button v-if="getPageModel.hasFirst" @click="changePage(1)">首页</button>
        <span v-if="getPageModel.hasFirst">…</span>
        <button v-for="pageNumber in getPageModel.pages" :class="pageNumber==getPageModel.currentPage?'current-page':''" @click="changePage(pageNumber)">{{pageNumber}}</button>
        <span v-if="getPageModel.hasNext">…</span>
        <button v-if="getPageModel.hasNext" @click="changePage(getPageModel.currentPage+1)">下一页</button>
        <button v-if="getPageModel.hasLast" @click="changePage(getPageModel.lastPage)">尾页</button>
    </div>
</div>