<div class="slider">
     <ul>
     	<li  v-for="(index, item) in sliderData.list">

     	   <a v-if="item.status" class="active" href="{{item.link}}"  >
     	     {{item.name}}</a>

             <!-- <ul  v-if="item.child" v-for="(_index, _item) in item.child">
             	  <a v-if="_item.status" class="active" href="{{item.link}}"  >
     	               {{item.name}}</a>
     	          <a v-else href="{{item.link}}"  >{{item.name}}</a>
             
             </ul> -->
     	       <a v-else href="{{item.link}}"  >{{item.name}}</a>

           
     	</li>
     	
          
     </ul>
</div>