<div class="share-cover-container" v-if="hasCover">
    <img :src="picUrl" class="share-cover">
</div>

<div id="playercontainer" v-if="!hasCover"></div>
<!--<aside class="anchor clearFix">-->
<!--<img :src="image" alt="anchor-pic">-->
<!--<div class="anchor-msg">-->
<!--<a :href="blink"><button>饭圈</button></a>-->
<!--<h1>{{anchorTitle}}</h1>-->
<!--<p>{{anchorIntro}}</p>-->
<!--</div>-->

<!--</aside>-->

<!--<div class="msg-area">-->

<!--</div>-->

<!--<div class="send-msg">-->

<!--</div>-->

<!--<button @click="stopPlay">123</button>-->